*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: #292F36;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.content-wrapper{
   /*margin: 10px 70px 70px;*/
   margin-left: 400px;
   margin-right: 50px;
}

.input-wrapper{
    width: 300px;
    float: left;
    margin-left: -350px;
    margin-right: 50px;
}

.table-wrapper{
    float: right;
    width: 100%;
    /*width: 600px;*/
    /*margin-right: -500px;*/
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #292F36;
    background: #FFE66D;
}


.fl-table thead th:nth-child(odd) {
    color: #292F36;
    background: #FFEFA2;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #F7FFF7;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F7FFF7;
        border-right: 1px solid #CBD1CB;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #CBD1CB;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.DateRangePickerInput{
    width: 300px
}

.Select-control{
    max-width: 300px;
}

.DateInput_input{
    font-size: 14px;
}

input {
    width: 300px; 
}

.filter_container{
    padding-bottom: 10px;
}

.filter_label{
    padding-bottom: 4px;
    font-weight:700;
    color: #F7FFF7;
}
